* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
nav a:hover {
    background: blue;
}
nav {
    background: grey;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav a {
    display:inline-block;
    padding: 1em;
    text-decoration: none;
    color: black;
}

nav ul li:nth-child(6){
    margin: auto;
    display: inline-block;
    justify-content: flex-end;
}
h2{
    font-size: 2em;
    margin: auto;
}



