.col-sm-3{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    font-size: 250%;
    font-weight: bold;
}
.col-sm-12:nth-child(2){
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    font-size: 175%;
    font-weight: bold;
}
.col-sm-6:nth-child(3){
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    height: 90px;
    align-items: center;
    font-size: 75%;
    font-weight: bold;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height:125px;
    align-items: center;
    font-size: 75%;
    font-weight: bold;
}

*{
    background-color: white;
}

.col-8{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    margin-left: 20px;
}