.col-sm-3{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    font-size: 250%;
    font-weight: bold;
}
.col-sm-12:nth-child(2){
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    font-size: 175%;
    font-weight: bold;
}
.col-sm-6:nth-child(3){
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    height: 90px;
    align-items: center;
    font-size: 75%;
    font-weight: bold;
}
.col-md-auto{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}
.col-md-6{
    display: flex;
    justify-content: flex-start;
    background-color: blueviolet;
}
.col-sm-6{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height:125px;
    align-items: center;
    font-size: 75%;
    font-weight: bold;
}

*{
    background-color: #E6E6E6;
}
/*.col-1{*/
/*    background-color: #E6563B;*/
/*    border-radius: 100%;*/
/*    height: 45px;*/
/*    width: 45px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
.col-1:nth-child(2){
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    margin-left: 70px;
}
.col-1:nth-child(3){
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    margin-left: 5px;
}
.col-1:nth-child(4){
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    margin-left: 5px;
}
.col-1:nth-child(5){
    border-radius: 100%;
    height: 18px;
    width: 18px;
    background-color: #e6563b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.col-8{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    margin-left: 20px;
}
/*.col-1{*/
/*    margin-left: 75px;*/
/*}*/
/*.dot-D {*/
/*    height: 18px;*/
/*    width: 18px;*/
/*    background-color: #e6563b;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.dot-d {*/
/*    height: 18px;*/
/*    width: 18px;*/
/*    background-color: #EB9D3A;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.dot-S {*/
/*    height: 18px;*/
/*    width: 18px;*/
/*    background-color: #7CB06C;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-left: 75px;*/
/*}*/
/*.dot-H{*/
/*    height: 18px;*/
/*    width: 18px;*/
/*    background-color: #00ABA9;*/
/*    border-radius: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-left: 75px;*/
/*}*/