body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
:root {
    --main-bg-color: #bae3fa;
}
.message-info{
    border-style: solid;
    font-weight: bold;
    padding: 10px 40px;
    .btn.btn-info;
    .text-*;
    position: absolute;
    right: 300px;
    top: 10px;
    background-color: var(--main-bg-color);
    width: 500px;
    border-radius: 5px;
    color: darkblue;
}
.message-success{
    font-weight: bold;
    padding: 10px 40px;
    .text-*;
    position: absolute;
    right: 300px;
    top: 55px;
    background-color: #b3ffe0;
    border: 1px green;
    width: 500px;
    border-radius: 5px;
    color: darkgreen;
}
.message-warning{
    font-weight: bold;
    padding: 10px 40px;
    .text-*;
    position: absolute;
    right: 300px;
    top: 100px;
    background-color: #fafac6;
    border: 1px darkgoldenrod;
    width: 500px;
    border-radius: 5px;
    color: darkgoldenrod;
}
.message-error{
    font-weight: bold;
    padding: 10px 40px;
    .text-*;
    position: absolute;
    right: 300px;
    top: 145px;
    background-color: #f8baba;
    border: 1px #cc6969;
    width: 500px;
    border-radius: 5px;
    color: #ab0022;
}