
.coff {
    padding-left: 4px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.coffeeBeans {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.coffeeBeansTwo {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.cover {
    height: 100vh;
    width: 100%;
    display: flex;
}

.flex-form {
    z-index: 10;
    position: center;
    margin: auto;
    display: block;

}


#carouselExampleAutoplaying {
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: 50px;
}

h1,h2,h3,h4,h5,h6 {
    color: #fff8d8;
}


.templateBorder {
    padding: 8px;
    border: 15px solid #f4e0cb;
    border-radius: 8px;
}

.coffeeName {
    font-size: medium;
    color: black;
}

.coffeeFlavor {
    font-size: small;
    color: black;
}

.coff p{
    padding: 0;
    margin-bottom: 0;
}



/*@media (max-width: 769px)and(min-width: 320px) {*/

/*    .background-image {*/
/*        display: block;*/
/*    .background-image*/
/*        background-image: url('img2links/pexels-tyler-nix-2396220.jpg');*/
/*        background-size: cover;*/
/*        background-position: center;*/

/*    }*/
/*}*/

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .coffeeBeans {
        display: none;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    .mobilelpic {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
}