
.fancy-header {
    color: purple;
    text-decoration: underline;
    font-family: "Welcome to Veridian Dynamics!", serif;
}

h1{
    margin: 50px auto;
    width: 500px;
    padding: 10px;
}
h2{
    color: red;
    text-decoration: underline;
}
body {
    background-color:aquamarine;
}
body {
    background-image: url("https://images.pexels.com/photos/1274260/pexels-photo-1274260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: 500px;
}
ul {
    color: orange;
}
ol {
    color: orange;
}
div {
    color: orange;
}
table {
    color: orange;
}
a {
    color: firebrick;
}
em {
    color: darkgoldenrod;
}
#value li{
    list-style-type: square;
}
#process li{
    list-style-type: upper-roman;
}
html * {
    font-style: italic;
}
th {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}
td {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}
a:link{
    color: red;
}
a:visited{
    color: green;
}
a:hover{
    color: black;
}
a:active{
    color: blue;
}