/**{*/
/*    background-color: orange;*/
/*}*/

.img-thumbnail{
    height: 250px;
    width: 250px;
    border: 5px solid black;

}

h1{
    font-family: 'Bilbo', cursive;
    display: flex;
    justify-content: center;
}