* {
    background: #F5F5F5;
}


.gray-background {
    background-color: #F5F5F5;
}

.cover {
    height: 100vh;
    width: 100%;
    display: flex;
}

.flex-form {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.face {
    height: 300px;
    border-radius: 100%;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    color: #0F4C81;
}

#h1 {
    text-align: center;

}

#nameHeader {
    text-align: center;
    margin-bottom: 70px;
}

.container {
    background-size: cover;
    z-index: -1;
}

#about-me{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
    color: #0F4C81;
}
#about{
    margin-bottom: 30px;
}

#nav{
    margin-bottom: 70px;
}

#projects {
    text-align: center;
}

#projects ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#projects li {
    flex: 1 1 350px;
    margin: 20px;
}

#projects img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#projects h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}